<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam aliquam eum
    illo eos dolore, esse repudiandae adipisci ipsa facilis vel!
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon__primary quote__hyphen">
        <use xlink:href="images/sprite.svg#clock"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__title">John Smith</h3>
      <p class="quote__company">ABC Company</p>
    </div>
  </div>
</footer>
